html { background:transparent; }
body {margin:0;padding:0; }
#main, #footer{ clear:both;}

/*Links*/
a {color:#a65607; text-decoration: none; } 
a:hover {color:#783e05; text-decoration: none;}
a:active, a:focus { position : relative; top : 1px; }
a:visited{color:#a65607 ;}

/*-----Typography-----*/
body {background:#2c261a; font: 14px/1.6 Georgia, Times, 'Times New Roman', serif; color:#231e15;}
		
h1,h2,h3,h4,h5 {font: 14px/18.5px Georgia, Times, 'Times New Roman', serif; color:#313131; margin-bottom: 8px; line-height: 1.35;  text-shadow: 1px 1px 1px #fff;}
h2 {font-size: 28px; margin-bottom: 30px}
h3 {font-size: 20px; margin-bottom: 16	px}
h4 {font-size: 16px; font-weight: bold;}
p, li  {margin: 8px 0 33px 0; text-shadow: 1px 1px 1px #fff;}
	
ul {margin-bottom: 18px;}
li {margin:0 0 8px 16px; list-style:disc;}
ol li {list-style: decimal;}
	
em {font-style: italic;}
strong {font-weight: bold;}
blockquote { margin:0 0 0 0; padding-left:16px; font-size: 16px; line-height: 22px; border-left:1px dotted #4e4e4e;}

#outerwrapper {width:100%;background:#e9e3d6;}
#wrapper {width:960px; margin:0 auto;background:#e9e3d6;}

/*-----Columns-----*/
#primaryContent {clear:both;float:left;position:relative;}

#secondaryContent {float:left;width:330px;margin:0 0 0 -330px;display:none;}
	
#primaryContent {width:630px;margin:0 330px 0 0;}
#secondaryContent {display:block;}

/*-----Column 'padding'-----*/
#primaryContent div.innerpad { margin:50px; }
#secondaryContent div.innerpad { margin:60px 40px 50px 40px; }

/*-----Header-----*/
#header{width:100%; text-align:center; background: #221d14 url(../images/header_bg.png) top left repeat-x; height:296px; border-bottom:7px solid #b9b4a8;}

#branding {padding-top:74px; text-align: center;}
#branding h1 {width: 940px; margin:0 auto;}
#branding h1 a {font-size:24px; color:#e9e3d6; text-shadow: 1px 1px 1px #000; text-transform:uppercase; letter-spacing: 7px; border-bottom: 1px solid #605b51; padding:0 50px 4px}
#branding h1 a:hover {color:#fff;}
#branding h1 a:active, #branding h1 a:focus { position:inherit; top:0; }
#branding h1.tagline {font-size: 14px;color:#e9e3d6; text-shadow: 1px 1px 1px #000; margin-top: 8px;}

/*----- callouts -----*/
#secondaryContent .callout {margin-bottom: 32px;}
#secondaryContent h3 {font-size: 14px; text-transform: uppercase; letter-spacing: 2px; color:#67655f; margin-bottom:16px;}
#secondaryContent .callout p {margin-bottom:6px; }
#secondaryContent .callout p.readmore {margin:0; padding: 0 14px 0 0; background: url(../images/readmore_ornament.png) 100% 50% no-repeat; display: inline;}

/*-----Navigation-----*/
#nav {display: block; width:960px; text-align: center; margin: 0 auto; padding: 0; }
#nav ul {list-style:none; margin:0; padding:0; width:960px; height:57px;}
#nav ul li { list-style:inherit; display:-moz-inline-box; display:inline-block; /*ie6 hackery*/ *display:inline; font:12px Tahoma, Helvetica, Arial; text-transform: uppercase; text-shadow: 1px 1px 1px #000;   margin:0; padding:0 6px;}
#nav ul li a{letter-spacing: 2px;color:#b8ada2; padding:16px 16px 26px 16px;  display:-moz-inline-box; display:inline-block; *display:inline; margin:0 0;}
#nav ul li a:hover{color:#e9e3d6;}
#nav ul li.current a, #nav ul li.section a {background:#a65607; border:2px solid #7d4105; border-width:0 2px 2px 2px; font-weight: bold; color:#e9e3d6; text-shadow:1px 1px 1px #7d4105;
-moz-box-shadow: 3px 3px 3px #000;
-webkit-box-shadow: 3px 3px 3px #000;
box-shadow: 3px 3px 3px #000;
}

/*secondary nav*/
#secondarynav{text-align:center; margin-bottom: 36px;}
#secondarynav ul { text-indent:none;margin:0; padding:0;margin:0; border-top: 1px solid #c0bbb0;}
#secondarynav ul li {text-indent:none; list-style: none; padding:0;margin:0;}
#secondarynav ul li a {margin:0; padding:0; border-bottom: 1px solid #c0bbb0; display:block; padding:8px 0;}
#secondarynav ul li a:hover {background:#ded8cc;}
#secondarynav ul li.current, #secondarynav ul li.section { color:#313131;text-shadow:1px 1px 1px #cbc5ba;}
#secondarynav ul li.current a, #secondarynav ul li.section a{color:#313131; background:#c0bbb0;}
#secondarynav ul li.current a:hover, #secondarynav ul li.section a:hover{background:#aea99f;}

/*tertiary nav*/
#secondarynav ul li ul.tertiarynav {border-top: 0;}
#secondarynav ul li.current ul.tertiarynav li a {background:#ded8cc; font-size: 12px; color:#a65607;  }
#secondarynav ul li.current ul.tertiarynav li a:hover {background:#d5cfc4; font-size: 12px; color:#a65607; }
#secondarynav ul li.section ul.tertiarynav li.current, #secondarynav ul li.section ul.tertiarynav li.current a{background:#d5cfc4; font-size: 12px; color:#313131;}
#secondarynav ul li.section ul.tertiarynav li a {background:#ded8cc; font-size: 12px; color:#a65607;  }
#secondarynav ul li.section ul.tertiarynav li a:hover {background:#d5cfc4; font-size: 12px; color:#a65607  }



#pagetitle {text-align:center; padding:30px 0 0;}
#pagetitle h2{margin:0; padding:0 55px 0 55px; font-size: 54px; display:inline; background: url(../images/ornament-left.png) 0 50% no-repeat;}
#pagetitle h2 span{padding:0 55px 0 0; background: url(../images/ornament-right.png) 100% 50%  no-repeat;}


/*-----footer-----*/
#footer{ width:960px; margin:0 auto; background:#2c261a; display:block; padding: 40px 0;}
#footernav{width:530px; float:left; padding:0; margin:0; margin-left:50px;}
#footernav ul {list-style:none; padding:0; margin:0;}
#footernav ul li {display: inline; padding:0; margin:0; font-size: 12px; text-shadow:none;}
#footernav ul li a {display: inline; padding-right:23px; color:#a79b82; }
#footernav ul li a:hover {display: inline; padding-right:23px; color:#e9e3d6; }

#credits {width:330px; float:right;height:29px; width:229px; margin-right:52px; padding-bottom: 30px;}
#credits h3 {height:29px; width:229px; margin:0;}
#credits h3 a {display:block; text-indent: -9999px; background: url(../images/bhg.png) top left no-repeat; height:29px; width:229px;}
#credits p {font-size: 9px; text-align:right; line-height: 12px; padding-top:12px; font-family: Helvetica, Arial; color:#a79b82; text-shadow: none; }


/*-----suites page-----*/
.suitewrapper {border-bottom: 1px solid #c0bbb0; padding:18px 3px 0 3px;}
.suitewrapper p {font-size: 12px;}
.suitewrapper img {float: left; padding:8px; background:#fff9eb; border-bottom:1px solid #a3a3a3; border-right:1px solid #a3a3a3;}
.suitewrapper:hover {background:#f0eadc;}
.suitedescription {width:280px; float:right;}
.suitedescription h3 {margin-top: 0;}

/* image floats */
img.left, img.right, img.center { padding:8px; background:#fff9eb; border-bottom:1px solid #a3a3a3; border-right:1px solid #a3a3a3;}
img.left { float:left; margin:0 12px 12px 0;}
img.right { float:right; margin:0 0 12px 12px; }
img.center { margin:0 auto 16px;}


/* image with caption floats */
div.captionImage { padding: 14px; background:#fff9eb; border-bottom:1px solid #a3a3a3; border-right:1px solid #a3a3a3; }
div.left {float:left; margin:0 12px 8px 0;}
div.right {float:right; margin:0 12px 0 8px;}
div.captionImage p {font-style: italic; margin-bottom: 8px; padding:0; font-size: 12px}
div.captionImage img.left, div.captionImage img.right, div.captionImage img.center{float:none; padding:0; background:transparent; outline:1px solid #a3a3a3; border:0;}



/*-----Blog Styling -----*/
/*Blog global*/
.blogSummary {padding-bottom: 16px; border-bottom: 1px solid #c0bbb0;}
.blogSummary p {margin-bottom: 16px;}
h2.postTitle {margin-bottom:5px;}
p.authorDate, p.tags {margin-bottom:5px; font-size: 12px;}
p.blogVitals  {margin-bottom:5px;}
p.blogVitals a.comments {padding-left:16px; background:url(../images/icon_blogcomment.png) 0 70% no-repeat;}

/*Blog Sidebar*/
#Sidebar ul {margin-left:0; text-indent: none; list-style: none; padding-left: 0;}
#Sidebar ul li { margin-left:0; text-indent: none; list-style: none; padding-left: 0;}
#Sidebar ul li a{ margin-left:0;  text-indent: none; list-style: none; padding-left: 0;}
.WidgetHolder {margin-bottom: 33px;}


/*Blog Comments*/
#post-comments {margin-top: 13px; border-top:3px solid #c0bbb0;}
ul#PageComments {margin:0; list-style: none; text-indent: 0;}
ul#PageComments li {margin:0; list-style: none; text-indent: 0;}
ul#PageComments li div{}
ul#PageComments li div span {font-weight: bold;}
ul#PageComments li div strong {font-weight: normal;}
ul#PageComments li div strong span{font-weight: normal;}
div.Actions input.action {background: #a65607; -webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px; font-weight:normal; color:#e9e3d6; -moz-box-shadow: 1px 1px 0px #472503;
-webkit-box-shadow:1px 1px 0px #472503;
box-shadow: 1px 1px 0px #472503;
}


.clearfix:after { content: "."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix { display:inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height:1%;}
.clearfix { display:block; }
/* End hide from IE-mac */